Hrm.Main.WebApplication/Hrm.Main.WebApplication/Service References/ReportGenerationServiceReference/ReportGenerationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53010/ReportGenerationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hrm.Common.Dto" />
  <xs:element name="GenerateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hrm.Common.Dto" minOccurs="0" name="reportDataDto" nillable="true" type="q1:ReportDataDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>